mixin sort()
  div(sort)
    select(
      class="form-control"
      name="sort"
      sort-select 
    )
      option(value="position-desc") Vị trí giảm dần
      option(value="position-asc") Vị trí tăng dần 
      option(value="name-desc") Tiêu đề Z - A
      option(value="name-asc") Tiêu đề A - Z
    button(
      class="btn btn-danger mt-2"
      sort-clear
    ) Clear