header.header 
  .box-head 
    .row
      .col-9
        .logo 
          a(href="/admin/dashboard") ADMIN 
      .col-2 
        a(
          href=`/admin/auth/logout`
          class="btn btn-danger btn-sm ml-5"
        ) Đăng xuất

  